.buttonContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.buttonContainer button{
    padding: 30px 60px;
    font-size: 30px;
    font-weight: bold;
    
}